negotiations_tab.zip
NikolaiKorchaka_2021 December 29 Wednesday_mermaid.txt
NikolaiKorchaka_2021 December 29 Wednesday.txt
student_name.json
Horst.json
test.json
/home/dgd/Desktop/python_storyboard_flashcards/students*
students/student_names.txt
Artem Yanholenko_2022 January 04 Tuesday.txt
Artem Yanholenko_2022 January 04 Tuesday_mermaid.txt
_2022 January 04 Tuesday.txt
_2022 January 04 Tuesday_mermaid.txt
students/Artem Yanholenko.json
scratch.py
